<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- WebSockets support (if you use it) -->
    <webSocket enabled="true" />
    <proxy />
        <rewrite>
            <rules>
                <rule name="ReverseProxyToNext" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern=".*" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>
